*
    margin: 0
    padding: 0
    box-sizing: border-box

.canva
    text-align: center

    .row
        .pixel
            display: inline-block
            width: 30px
            height: 30px
        .b
            background: black
        .y
            background: yellow
        .w
            background: white
